body{overflow:auto; background-color: black;color: aqua;}
#logo{font-family: monospace;color: aqua;
    font-weight: bolder;font-size: 140%; margin-left: 2%;margin-top: 2%;}
#logo:hover{font-weight: bolder;color: aquamarine;}
input{background-color: black; color: aqua;
    font-weight: bolder;border-style: hidden;}
input:hover{border-color: aqua;color: darkturquoise;
    border-style: double;border-top: 0ch;border-left: 0ch;border-right: 0ch;}
#top{display: flex;}
#navbar{float: right;}
body::-webkit-scrollbar{background: black;}